<h3>Installed AMPs</h3>
<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Current version</th>
        <th>Installed version</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="module in modules">
        <form ng-submit="save(module)">
            <td>{{module['{http://www.alfresco.org/model/content/1.0}name']}}</td>
            <td><input ng-model="module['{http://www.alfresco.org/system/modules/1.0}currentVersion']"/></td>
            <td><input ng-model="module['{http://www.alfresco.org/system/modules/1.0}installedVersion']"/></td>
            <td><button class="button" ng-click="save(module)" ng-disabled="loading">save</button></td>
        </form>
    </tr>
    </tbody>
</table>