<h3>Bulk operations</h3>

<select name="mySelect" id="mySelect"
        ng-options="option.name for option in data.availableOptions track by option.id"
        ng-model="data.selectedOption"></select>

<div class="form-info" ng-if="data.selectedOption.id === 'file'">
    <div class="form-info-icon"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></div>
    <div class="form-info-text">
        <p>Upload a newline-separated text file, with each line being a noderef expression, to run your bulk action against each of these noderefs.</p>
    </div>
</div>
<div class="form-info" ng-if="data.selectedOption.id === 'metadata'">
    <div class="form-info-icon"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></div>
    <div class="form-info-text">
        <p>Upload a CSV file (including column headers), where the first column represents the metadata that will be searched for. We will look for noderefs that have a property named like the header of the first column, and apply our bulk action if the value of this noderef's property appears in the first column of the CSV.</p>
        <p>Should you choose the <em>action</em> action, you will receive the option to have the other columns from the corresponding CSV record passed to the action. This option should only be used for actions that actually receive these parameters. See <a href="/alfresco/s/xenit/care4alf/resources/bulkmetadata/example/example.csv">here for an example csv file</a> and <a href="/alfresco/s/xenit/care4alf/resources/bulkmetadata/example/ExampleAction.java">here for an example Action</a> to use it with.</p>
    </div>
</div>

<div ng-if="data.selectedOption.id === 'search'">
    <form class="form-horizontal" role="form">
        <div class="">
            <label class="control-label">Store</label><select class="form-control"
                                                              ng-options="a as a for a in form.stores"
                                                              ng-model="form.store"></select>
        </div>
        <div class="">
            <label class="control-label">FTS Query</label><input class="form-control" ng-model="form.query"/>
        </div>
        <div class="">
            <label class="control-label">Batch size</label><input class="form-control" ng-model="form.batchsize"/>
        </div>
        <div class="">
            <label class="control-label">Number of threads</label><input class="form-control" ng-model="form.threads"/>
        </div>
        <div class="">
            <label class="control-label">How many batches before checking for solr lag ?</label><input class="form-control" ng-model="form.batchnumber"/>
        </div>
        <div class="">
            <label class="control-label">Maximum solr lag (in seconds) allowed ?</label><input class="form-control" ng-model="form.maxlag"/>
        </div>
        <div class="">
            <label class="control-label">Disable auditable policies</label><input class="form-control" ng-model="form.disableauditablepolicies" type="checkbox"/>
        </div>
        <div class="">
            <label class="control-label">Action</label><select class="form-control"
                                                               ng-options="a as a for a in form.getActions()"
                                                               ng-model="form.action"></select>
        </div>
        <div ng-show="form.getParameters(form.action)">
            <h4>Parameters:</h4>
            <div ng-repeat="param in form.getParameters(form.action)">
                <label class="control-label">{{param}}</label><input class="form-control"
                                                                     ng-model="form.parameters[param]"/>
            </div>
        </div>
        <button type="submit" class="btn btn-default" ng-click="executeSearch()">Execute {{loading?"(loading)":""}}
        </button>
    </form>
</div>
<div ng-if="data.selectedOption.id === 'file' || data.selectedOption.id === 'metadata'">
    <form class="form-horizontal" role="form">
        <div class="">
            <label class="control-label">File</label>
            <input ng-if="data.selectedOption.id === 'file'" class="form-control-file" type="file" accept="text/plain" file-model="form.file"/>
            <input ng-if="data.selectedOption.id === 'metadata'" class="form-control-file" type="file" accept="text/csv" file-model="form.file"/>
        </div>
        <div class="">
            <label class="control-label">Batch size</label><input class="form-control" ng-model="form.batchsize"/>
        </div>
        <div class="">
            <label class="control-label">Number of threads</label><input class="form-control" ng-model="form.threads"/>
        </div>
        <div class="">
            <label class="control-label">How many batches before checking for solr lag ?</label><input class="form-control" ng-model="form.batchnumber"/>
        </div>
        <div class="">
            <label class="control-label">Maximum solr lag (in seconds) allowed ?</label><input class="form-control" ng-model="form.maxlag"/>
        </div>
        <div class="">
            <label class="control-label">Action</label><select class="form-control"
                                                               ng-options="a as a for a in form.getActions()"
                                                               ng-model="form.action"></select>
        </div>
        <div ng-show="form.getParameters(form.action)">
            <h4>Parameters:</h4>
            <div ng-repeat="param in form.getParameters(form.action)">
                <label class="control-label">{{param}}</label><input class="form-control"
                                                                     ng-model="form.parameters[param]"/>
            </div>
            <!-- Special edge case that only appears when option == metadata and action == action. I don't know if this can be generalised away, since it's the only case where we need this checkbox, and the only case where one of the params is conditional on the option -->
            <div ng-if="data.selectedOption.id === 'metadata' && form.action === 'action'">
                <div class="checkbox"><label><input type="checkbox" ng-model="form.includecsvparam">Include CSV param <span class="small">(Your chosen action will receive the corresponding record from the CSV as additional parameters. Only choose this if your action expects parameters named like the extra column headers in your CSV.)</span></label></div>
            </div>
        </div>
        <button type="submit" class="btn btn-default" ng-click="executeFileOrMetadata(data.selectedOption.id)">Execute {{loading?"(loading)":""}}
        </button>
    </form>
</div>

<h3>Jobs</h3>
<button class="btn btn-danger" ng-click="clearJobs()">Clear</button>
<button class="btn btn-default" ng-click="loadJobs()">Refresh</button>
<div>{{canceled}}</div>
<table class="table">
    <thead>
    <tr>
        <th>Start</th>
        <th>End</th>
        <th>Successes</th>
        <th>Errors</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="job in jobs track by $index">
        <td>{{job.start}}</td>
        <td>{{job.end}}</td>
        <td>{{job.successes}}</td>
        <td>{{job.errors}}</td>
        <td>
            <button class="btn btn-danger" ng-click="cancelJobs($index)">Cancel</button>
        </td>
    </tr>
    </tbody>
</table>
